body {
  font-family: 'Ubuntu', sans-serif;
}

/* navbar */
.navbar{
  background-color: #197278;
}
#menuBar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#carousel-slides .container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.collapse .blue-navbar .nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}

/* carousel */
.carousel-image {
  width: 100%;
  height: auto;
}

/* consultation button */
#large-btn {
  max-width: 40rem;
  max-height: 3rem;
  text-align: center;
  margin: 3rem auto;
}

#large-btn a:hover {
  text-decoration: none;
}

.fa {
  padding-right: 1rem;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* swiper js speciality sliders */
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 20rem;
  max-height: 45rem;
  background-color: #283d3b;
  padding: 1rem;
  color: white;
  margin: auto;
}

.speciality{
  text-align: center;
}

.speciality-images {
  max-width: 15rem;
  max-height: 15rem;
  padding: 1.5rem 0.5rem;
  margin: 0 auto;
}

.speciality-text {
  text-align: left;
  padding: 0.5rem;
}

/* boxes */
#boxes {
  margin: 3% 0;
  text-align: center;
}

#boxes h2 {
  padding: 3% 5%;
}

.box-section {
  background-color: #6096ba;
  color: #fff;
  height: auto;
  padding: 3% 5%;
}

.blue-box {
  border: 1px solid white;
  padding: 15px;
  font-size: 2rem;
}

/* doctors */
#doctors {
  background-color: #edddd4;
  padding: 3rem 0.5rem;
}

#doctors h5, h1 {
  text-align: center;
}

.card{
  margin: 1rem 0;
}

.content {
  color: black;
  background-color: white;
  padding: 1.2rem;
  text-align: left;
  line-height: 2;
  margin: 1rem 0;
}

.aboutus-image img {
  padding: 0 1.2rem;
  max-width: 15rem;
  max-height: 15rem;
}

#more{
  color: blue;
  text-decoration: none;
}

/* contact */
#contact {
  margin: 3rem 0 0 0;
  background-color: #0077b6;
  color: white;
  padding: 4%;
  text-align: center;
}

.footer-icon {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin: 1rem;
  color: white;
}

.footer-icon:hover {
  color: black;
}

#contact p {
  padding: 3% 0 0 0;
  font-size: 1.5rem;
}

/* Testimonials */

#testimonials{
  background-color: #540b0e;
  text-align: center;
  color: white;
  margin: 3rem 0;
}

#blogs-testimonials .container-fluid{
  padding-left: 0;
  padding-right: 0;
}

#testimonials img{
 max-width: 10rem;
 max-height: 10rem;
 padding: 3% 5%;
 margin: 2rem auto;
}

.testimonial-text{
  max-width: 25rem;
  margin: 2rem auto;
  text-align: center;

}

/* map */

#map{
  text-align: center;
}

#map iframe{
  padding: 5% 5% 0 5%;

}

/* media queries */
@media (max-width: 800px) {
  .blue-box {
    border: 1px solid white;
    padding: 15px;
    font-size: 1.2rem;
  }

  .btn{
    font-size: 1rem;
  }

  #boxes h2 {
    font-size: 1.2rem;
  }

  #testimonials img{
   max-width: 6rem;
   max-height: 6rem;
   padding: 3% 5%;
   margin: 2rem auto;
  }

  .testimonial-text{
    max-width: 16rem;
    margin: 2rem auto;
    text-align: center;

  }
}
